p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Roboto, Arial;
    background-color: rgb(70, 70, 252);
    margin: 0;
    padding-top: 44px;
    padding-left: 56px;
    padding-right: 24px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}