.header {
    display: flex;
    height: 88px;
    border-bottom: 1px solid #deedde;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

.header {
    display: flex;
    height: 77px;
    border-bottom: 1px solid #deedde;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 250;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 74px;
    margin-left: 12px;
    margin-right: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

h3 {
    display: flex;
    flex-direction: column;
}