 /**
SDEV 300
Author: Charlemagne Marc
File: index.css
Lab Week 7
Purpose: css style file for the accompanying index.html
**/
/*Login*/
@import url('https //fonts.googleapis.com/css2 family=roboto &display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("/static/background/soccer_wallpaper.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header {
    font-size: 2em;
    color: cyan;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid cyan;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: cyan;
    font-size: 1em;
    pointer-events: none;
    transition: .2s;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: cyan;
}

.input-box ion-icon {
    position: absolute;
    right: 8px;
    color: cyan;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: cyan;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: cyan;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: cyan;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: cyan;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/*Photo Grid*/
.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    column-gap: 16px;
    row-gap: 16px;
    padding: 40px;
    border-radius: 10px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}
