<!--index.html by Charlemagne Marc-->
<!DOCTYPE html>
<html lang="en-US">
<!-- The head section begins here -->
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="author" content="Charlemagne Marc">
    <meta name="description" content="This page contains a Coach Info site.">
    <title>Coach Information</title>
    <!-- Link to css files -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- Link to Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" 
    rel="stylesheet">
    <!-- Link to icons -->
</head>
<!-- The head section ends here -->
<!-- The body section starts hear-->
<body>
    <!--header-->
    <header class="header">
        <!--Left section with logos-->
        <a href="https://www.sackick.com"><div class="left-section">
            <img class="logo" src="{{url_for('static', filename='icons/sac-logo.png')}}"/>
            <img class="logo" src="{{url_for('static', filename='icons/league-logo.jpeg')}}"/>
        </div></a>
        <!--Title section with coach name-->
        <h1>Coach {{name}}</h1>
        <!--Navigation section with social media links-->
        <nav>
            <ul>
                <!--Twitter follow button-->
                <a href="https://twitter.com/charlemagne1804?ref_src=twsrc%5Etfw" 
                class="twitter-follow-button" data-show-count="false">Follow @charlemagne1804</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                </script>
            </ul>
            <ul>
                <!--YouTube logo link-->
                <a href="https://www.youtube.com/@Coach_Marc">
                    <img class="youtube-logo" 
                    src="{{url_for('static', filename='icons/youtube-logo.svg')}}"/>
                </a>
            </ul>
        </nav>
    </header>

    <!--sidebar-->
    <nav class="sidebar">
        <!--first element-->
        <a href="/home">
            <div class="sidebar-link">
                <!--image-->
                <img src="{{url_for('static', filename='icons/home.png')}}"/>
                <!--text-->
                <div>Home</div>
            </div>
        </a>
        <!--next element-->
        <a href="/about">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/about.png')}}"/>
                <div>about</div>
            </div>
        </a>
        <!--next element-->
        <a href="/philosophy">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/select.png')}}"/>
                <div>philosophy</div>
            </div>
        </a>
        <!--next element-->
        <a href="/players_expectations">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/player.png')}}"/>
                <div><center>players expectations</center></div>
            </div>
        </a>
        <!--next element-->
        <a href="/parents_expectations">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/parents.png')}}"/>
                <div><center>parents expectations</center></div>
            </div>
        </a>
        <!--last element-->
        <a href="/contact">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/contact.png')}}"/>
                <div>contact</div>
            </div>
        </a>
    </nav>

    <!--main-->
    <main>
        <section>
            <h2>
                Improve Your Soccer Skills Today
            </h2>
            <!--photo grid-->
            <section class="photo-grid">
                <!--video preview in each grid-->
                <div class="photo-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{url_for('static', 
                        filename='thumbnails/thumbnail-1.jpeg')}}"/>
                    </div>
                </div>
    
                <div class="photo-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{url_for('static', 
                        filename='thumbnails/thumbnail-2.jpeg')}}"/>
                    </div>
                </div>
    
                <div class="photo-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{url_for('static', 
                        filename='thumbnails/thumbnail-3.jpeg')}}"/>
                    </div>
                </div>
    
                <div class="photo-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{url_for('static', 
                        filename='thumbnails/thumbnail-4.jpeg')}}"/>
                    </div>
                </div>
    
                <div class="photo-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{url_for('static', 
                        filename='thumbnails/thumbnail-5.jpeg')}}"/>
                    </div>
                </div>
    
                <div class="photo-preview">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="{{url_for('static', 
                        filename='thumbnails/thumbnail-6.jpeg')}}"/>
                    </div>
                </div>
            </section>
            <!--date-->
            <div class="date">{{ date }}</div>
        </section>
    </main>

    <!--footer-->
    <footer>
        <p>&copy; 2023 Coach Marc Website. All rights reserved.</p>
    </footer>
</body>
</html>