<!DOCTYPE html>
<html lang="en-US">
<!--head-->
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="author" content="Charlemagne Marc">
    <meta name="description" content="This page contains a Coach Info site.">
    <title>Coach Information</title>
    <!--Link css files-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!--Link Roboto font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?
    family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--Link icons-->
</head>
<!--body-->
<body>
    <!--header-->
    <header class="header">
        <a href="https://www.sackick.com"><div class="left-section">
            <img class="logo" src="{{url_for('static', filename='icons/sac-logo.png')}}"/>
            <img class="logo" src="{{url_for('static', filename='icons/league-logo.jpeg')}}"/>
        </div></a>
        <h1>Coach {{name}}</h1>
        <nav>
            <ul>
                <a href="https://twitter.com/charlemagne1804?ref_src=twsrc%5Etfw" 
                class="twitter-follow-button" data-show-count="false">Follow @charlemagne1804</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                </script>
            </ul>
            <ul><a href="https://www.youtube.com/@Coach_Marc">
                <img class="youtube-logo" 
                src="{{url_for('static', filename='icons/youtube-logo.svg')}}"/>
            </a></ul>
        </nav>
    </header>

    <!--sidebar-->
    <nav class="sidebar">
        <!--first element-->
        <a href="/">
            <div class="sidebar-link">
                <!--image-->
                <img src="{{url_for('static', filename='icons/home.png')}}"/>
                <!--text-->
                <div>Home</div>
            </div>
        </a>
        <!--next element-->
        <a href="/about">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/about.png')}}"/>
                <div>about</div>
            </div>
        </a>
        <!--next element-->
        <a href="/philosophy">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/select.png')}}"/>
                <div>philosophy</div>
            </div>
        </a>
        <!--next element-->
        <a href="/players_expectations">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/player.png')}}"/>
                <div><center>players expectations</center></div>
            </div>
        </a>
        <!--next element-->
        <a href="/parents_expectations">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/parents.png')}}"/>
                <div><center>parents expectations</center></div>
            </div>
        </a>
        <!--last element-->
        <a href="/contact">
            <div class="sidebar-link">
                <img src="{{url_for('static', filename='icons/contact.png')}}"/>
                <div>contact</div>
            </div>
        </a>
    </nav>

    <!--main-->
    <main>
        <section>
            <h2 class="about-paragraph">
                Expectations of Parents
            </h2>
            <div class="about-paragraph"><p class="text">
                &#x2022;&#9;Be positive with your son, the other players on the team, parents, 
                coaches, the referees, and the teams we play. It will make it more fun for everyone.
                <br>&#x2022;&#9;Please get your son to practice and games on time.
                <br>&#x2022;&#9;If your son is going to miss a practice or a game, let the coaches 
                know in advance.
                <br>&#x2022;&#9;Referees will make mistakes – sometimes bad mistakes. It happens. 
                We expect parents to take these in stride. SAC does not tolerate referee abuse, and 
                as coaches we fully support this policy.  
                <br>&#x2022;&#9;Finally, if you have a question or issue with the way Umaru and I 
                coach, please bring it to us directly.  We want to avoid having a player who won’t 
                listen because his parents disagree with the coaching and complain about the coaches
                 in front of their son.  Your son will pick up on this and will be less likely to 
                 feel a part of the team.  This serves no real purpose and can be very disruptive.
            </p></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Coach Marc Website. All rights reserved.</p>
    </footer>

</body>
</html>